.jumbotron
{
    background-color: rgb(17, 121, 7);
    color: white;
}
.container
{
    margin-top: 50px;
}
.info{
    margin: 20px 0;
}
.products
{
    flex-grow: 1;
    flex-basis: 50px;
    flex-wrap: wrap;
}
.product-card
{
    margin: 20px 10px;
    max-width: 350px;
}
footer
{
    background-color: rgb(144, 132, 211);
}
.footer
{
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
}
.description,.address,.social
{
    margin: 10px 15;
    padding: 20px 0;
    max-width: 300px;
    color: white;
}
a{
    color: white;
}